<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Table</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                </li>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <table class="table table-bordered table-striped">
                <caption>This is the newly created table</caption>
                <thead class="thead-dark">
                <tr>
                    <th>Game ID</th>
                    <th>Number of Players Allowed</th>
                    <th>Number of Attempts Allowed</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${game.uniqueId}">Value 1</td>
                    <td th:text="${game.players}">Value 2</td>
                    <td th:text="${game.attemptsAllowed}">Value 3</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<br>
<br>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <table class="table table-bordered table-striped">
                <caption>These already exist</caption>
                <thead class="thead-dark">
                <tr>
                    <th>Game ID</th>
                    <th>Number of Players Allowed</th>
                    <th>Number of Attempts Allowed</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="game : ${user.getGamesOwned()}">
                    <td th:text="${game.uniqueId}">Value 1</td>
                    <td th:text="${game.players}">Value 2</td>
                    <td th:text="${game.attemptsAllowed}">Value 3</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<br>
<br>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <form id="playerForm" action="/submitPlayer" method="post">
                <div class="form-group">
                    <label for="playerDropdown">Select Player:</label>
                    <select id="playerDropdown" class="form-control" name="selectedPlayerId">
                        <!-- Dropdown options will be populated dynamically -->
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit Player</button>
            </form>
        </div>
    </div>
</div>


    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Select2 JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <!-- Axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Your JavaScript file -->
    <script src="test.js"></script>
</body>
</html>
